/* CUSTOM PROPS */
:root {
  --body-bg: #f2f2f2;
  --main-font: "Montserrat", "Arial", sans-serif;
  --main-heading-color: #6e728e;
  --main-color: #6d72ed;
  --extra-color: #ffffff;
  --color-liner: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  --pricing-color: #4a4d60;
  --border-color:  rgba(110, 114, 142, 0.25);
}


/* FONT-FACE  */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
  url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--body-bg);
  color: var(--main-heading-color);
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  background-image: url(../img/path-icon_two.svg),
  url(../img/path-icon_one.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left -120px  bottom -600px,
  top -100px right -100px;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER  */
.container {
  max-width: 1100px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-LINK  */
.learn-more-link {
  display: inline-block;
  min-width: 288px;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 1.39px;
  background-color: var(--main-color);
  background-image: var(--color-liner);
  color: var(--extra-color);
  border: 1px solid transparent;
  border-radius: 6px;
  transition: color 0.4s ease;
}

.learn-more-link:hover {
  background-image: none;
  background-color: var(--extra-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.learn-more-link-pro {
  background-image: none;
  background-color: var(--extra-color);
  color: var(--main-color);
}

.learn-more-link-pro:hover {
  background-color: transparent;
  color: var(--extra-color);
  border-color: var(--extra-color);
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

.main-content-wrapper {
  position: relative;
  padding-top: 71px;
  padding-bottom: 103px;
}

.main-heading {
  margin: 0;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;
  font-size: 32px;
  line-height: normal;
  color: var(--main-heading-color);
  white-space: nowrap;
}


/* TOGGLE  */
.input-toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}

.input-toggle-annually:checked ~ div .toggle-slider {
  margin-left: 0;
  transition: margin 0.4s ease;
}

.input-toggle-monthly:checked ~ div .toggle-slider {
  margin-right: 0;
  transition: margin 0.4s ease;
}

.input-label {
  color: rgba(110, 114, 142, 0.5);
  transition: color 0.3s ease;
  cursor: pointer;
}

.input-label:hover{
  color: rgba(110, 114, 142, 1);
}

.input-label-annually,
.input-label-monthly {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input-toggle-annually:checked ~ .toggle-control .input-label-monthly,
.input-toggle-monthly:checked ~ .toggle-control .input-label-annually {
  z-index: 5;
}

.toggle-control {
  position: relative;
  width: 56px;
  height: 32px;
  padding: 4px;
  margin-right: 24px;
  margin-left: 24px;
  background-color: var(--main-color);
  background-image: var(--color-liner);
  border-radius: 16px;
  transition: 0.3s ease;
}

.toggle-control:hover {
  opacity: 0.5;
}

.toggle-slider {
  width: 24px;
  height: 24px;
  background-color: var(--extra-color);
  border-radius: 50%;
  margin-left: 24px;
}

.pracing-list {
  display: flex;
  align-items: center;
}

.pricing-list-item {
  padding: 30px;
  width: 350px;
  background-color: var(--extra-color);
}

.pricing-list-item:first-child {
  border-radius: 10px 0px 0px 10px;
}

.pricing-list-item:last-child {
  border-radius: 0px 10px 10px 0px;
}

.pricing-list-item_two {
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 10px;
  background-color: var(--main-color);
  background-image: var(--color-liner);
  color: var(--extra-color);
}

.type-of-pricing-heading {
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 28px;
}

.pricing::before {
  margin-right: 8px;
  font-size: 40px;
  line-height: normal;
  letter-spacing: -1.2px;
  content: "$";
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pricing-color);
  font-size: 72px;
  margin-bottom: 32px;
}

.pricing-pro {
  color: var(--extra-color);
}

.type-of-oportunity {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 32px;
  border-top: 1px solid var(--border-color);
}

.type-of-oportunity-pro {
  border-color: rgba(255, 255, 255, 0.25);
}

.oportunity-info {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid var(--border-color);
}

.oportunity-info-pro {
  border-color: rgba(255, 255, 255, 0.25);
}
